@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/***********************************************************
General Classes
***********************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

p {
    margin: 0.75rem 0;
}

/***********************************************************
Utility Classes
***********************************************************/
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center { text-align: center; }
.text-primary { color: #93cb52; }

.bg-light {
    background: #eee;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #eee;
}

.bg-primary {
    background: #93cb52;
    color: #333;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 4.4rem;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 4.4rem;
}

.lead {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
}

.btn:hover {
    background: #7ab436;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.list {
    margin: 0.5rem;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: 1px #444 dotted;

}



/***********************************************************
Paddings
***********************************************************/
.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }


/***********************************************************
Navbar
***********************************************************/
#navbar {
    display: flex;
    background: #333;
    position: sticky;
    top:0;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 0.3rem;
}

/***********************************************************
Header - Showcase
***********************************************************/
#showcase {
    background: url(../img/showcase.jpg) #333 no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 3.75rem;
    left: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/***********************************************************
Section - What We Do
***********************************************************/
#what .items {
    display: flex;
}

#what .items .item {
    /* flex: 1; */
    text-align: center;
    padding: 1rem;
}

#what .items .item i {
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 0.75rem;
}

/***********************************************************
Section - Who We Are
***********************************************************/
#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img {
    background: url(../img/people.jpg) no-repeat center center/cover;
}

/***********************************************************
Section - Clients
***********************************************************/
#clients {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#clients .client-logos {
    display: flex;
}

#clients .client-logos img {
    display: block;
    width: 60%;
    margin: auto;
}

/***********************************************************
Section - Contacts
***********************************************************/
#contact {
    display: flex;
}

#contact .contact-form,
#contact .map-area {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form .form-group label {
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}